*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
  background-color: rgb(95, 150, 246);
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 15px;
  padding: 15px;
  border: 1px solid gray;
}

h2{
  text-align: center;
}
.container1{
  width: 100%;
  height: 400px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
  
.container1 .card {
  background-color:blueviolet;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 350px;
  padding: 15px;
  text-align: center;
  transition: all ease-in 0.3s;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  cursor: pointer;
  flex-direction: column;
}

.container1 .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px gray;
}

.container1 .card img {
  width: 150px;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
  padding-top: 5px;
}

.container1 .card h2 {
  margin: 15px 0;
  font-size: 1.5rem;
  color: rgb(2, 1, 1);
  text-align: center;
  font-size: 16px;
}

.container1 .card p {
  font-size: 14px;
  text-align: center;
  margin: 7px;
  color: whitesmoke;
  
}.container{
  height: 150px;
  background-color: skyblue;
  color: black;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.container .box{
  width: 10%;
  height: 80%;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 20px;
}